<h1>All Profiles</h1>

<div class="row">
    <div class="col">
        <a routerLink="/profiles/gojo" [queryParams]="{firstName: 'Satoro', lastName: 'Gojo', age:25}">
            <img class="img-fluid" src="images/gojo.jpg" alt="" srcset="">
        </a>
    </div>
    <div class="col">
        <a routerLink="/profiles/sukuna" [queryParams]="{firstName: 'Sukuna', lastName: 'Hein', age:1000}">
            <img class="img-fluid" src="images/sukuna.jpg" alt="" srcset="">
        </a>
    </div>
</div>