<h2>List of Todo Items</h2>

<ol>
    @for (item of todoItems; track $index) {
        <li>
            <input type="checkbox" (change)="handleStatusChange($index, item.completed)"  [checked]="item.completed">
            <span [class.completed]="item.completed">
                {{ item.title }} - {{ item.priority}}
            </span>
            <button type="button" class="btn-danger btn m-2" (click)="handleDelete($index)">Delete</button>
        </li>
    } @empty {
        <p>No Todo Items</p>
    }
</ol>